###########################################
########## Common variables ###############
###########################################

profile     = "profile01"
aws_region  = "us-east-1"
environment = "dev"
client      = "cliente01"
project     = "proyecto01"
common_tags = {
  environment   = "dev"
  project-name  = "proyecto01"
  cost-center   = "xxx"
  owner         = "xxx"
  area          = "xxx"
  provisioned   = "xxx"
  datatype      = "xxx"
}

###########################################
######## ECS Cluster variables ############
###########################################

cluster_config = [
  {
    application             = "app01"
    containerInsights       = "enabled"
    enableCapacityProviders = true
  }
]